apiVersion: v1
kind: Service
metadata:
  name: prometheus-valence
spec:
  type: NodePort
  ports:
  - name: web
    port: 9090
    protocol: TCP
    targetPort: web
  selector:
    app.kubernetes.io/name: prometheus-valence
